
$white: #ffffff;

$aqua: #2ec4b6;
$lt-aqua: #cbf3f0;
$drk-aqua: #26a195;

$orange: #ff9f1c;
$lt-orange: #ffbf69;

$menu-margin: 5px;
$nav-lh: 1.3em;
$txt-pad: 0.5em;
$nav-bar-height: $nav-lh + 2 * $txt-pad;


//-------------------
// Reset browser CSS
//-------------------
* {
  padding: 0px;
  margin: 0px;
  border: 0 none;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  min-height: 400px;
  background-color: $white;
  font-family: 'Josefin Sans', Arial, sans-serif;
  font-style: normal;
}

//---------------------
// Header Styling
//---------------------

/* header container */
header {
  position: relative; /* need this to arrange items in header continer with position:absolute */ 
  height: 100px;
  width: 100%;
  min-width: 800px;
  background: $lt-aqua;
}

/* navbar container */
#mainmenu-navbar {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-right: 15px;
}

/* navbar items */
.main-menu.tab > li {
  list-style: none;
  display: inline-block; //horizontal nav
  position: relative; //need this for absolute positioning of submenu
  min-width: 150px;
  padding: $txt-pad;
  margin: 0px $menu-margin;
  
  
  font-size: 16pt;
  text-align: center;
  text-transform: uppercase;
  line-height: $nav-lh;
}

/* submenu container */
.dropdown.container { 
  display: none; 
}


//------------------
// Navbar Text
//------------------

a { 
  text-decoration: none; 
}

.main-menu.tab a { 
  color: $aqua; 
}

.dropdown.container a { 
  color: $white; 
  font-weight: 300;
  text-transform: capitalize;
}

//-------------------
// Hover Styles
//-------------------

/* main menu items */
.main-menu.tab > li:hover > a { 
  color: $drk-aqua; 
}

/* submenu title */
li.dropdown.tab:hover > a { 
  color: $lt-aqua;
}

/* submenu title background */
.dropdown.tab:hover { 
  background: $drk-aqua;
}

/* submenu container */
.dropdown.tab:hover .dropdown.container {
  display: block;
  
  position: absolute;
  top: $nav-bar-height;
  left: 0px;
  
  margin-top: -1px;
  padding: 1em 0em;
  background: $aqua;
}

/* submenu items */
.dropdown.tab:hover li {
  list-style: none;
  text-align: left;
  padding: $txt-pad;
  min-width: 150px;
}

/* submenu item highlight */
.dropdown.container > li:hover { 
  background: $orange; 
}




/**** end of header styling ****/
